<h1>Add new post</h1>

<%= simple_form_for(@post) do |f| %>
  <%= f.input :title %>
  <%= f.input :content, input_html: { id: "my-form"} %>
  <%= f.button :submit, class: "btn-full-width"%>
<% end %>


<h1>Add new show</h1>

<%= simple_form_for(@show) do |f| %>
  <%= f.input :date %>
  <%= f.input :location %>
  <%= f.input :link %>
  <%= f.button :submit, class: "btn-full-width"%>
<% end %>
