<div class="page-container">
  <div class="grid-container-admin w">
    <div class="form new-post grey-bg ps2">
      <h2>New post</h2>
      <%= render "posts/inline_form", object: @post %>
    </div>
    <div class="form new-show grey-bg ps2">
      <h2>New show</h2>
      <%= render "shows/inline_form", object: @show %>
    </div>
    <div class="form new-video grey-bg ps2">
      <h2>New video</h2>
      <%= render "videos/inline_form", object: @video %>
    </div>
    <div class="form new-audio grey-bg ps2">
      <h2>New audio</h2>
      <%= render "audios/inline_form", object: @audio %>
    </div>
    <div class="form new-contact grey-bg ps2">
      <h2>New contact</h2>
      <%= render "contacts/inline_form", object: @contact %>
    </div>
  </div>
</div>
