<%= render "shared/navbar" %>

<div class="back-image">

  <div class="grid-cont">
    <div class="posts">
      <% @posts.each do |post| %>
        <div class="post bottom-border">
          <h3 class="caslon tac mtb3"><%= post.title %></h3>
          <%= post.content.html_safe %>
          <h6><%= post.time %></h6>
          <% if user_signed_in? && current_user.admin %>
            <%= link_to "Edit", edit_post_path(post) %>
            <%= link_to "Delete", post_path(post), method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="right">
      <div class="shows w">
        <h3 class="caslon tac mtb3">UPCOMING SHOWS</h3>
        <% @shows.each do |show| %>
          <p><%= show.date %> / <%= show.location %> / <%= show.link %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


