<%= render "shared/navbar" %>

<div class="back-image">
</div>

  <div class="past-nav width-half center">
    <div class="posts mtb3">
      <% @posts.each do |post| %>
        <div class="post mb4">
          <h4 class="caslon tac ptb2"><%= post.title %></h4>
          <%= post.content.html_safe %>
          <p><%= post.time %></p>
          <% if user_signed_in? && current_user.admin %>
          <div class="admin-links">
            <p>
              <%= link_to "✎", edit_post_path(post), class: "no-d" %>
              <%= link_to "✖", post_path(post), method: :delete, class: "no-d" %>
            </p>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="right">
      <div class="shows w">
        <h4 class="caslon tac mtb3">UPCOMING SHOWS</h4>
        <% @shows.each do |show| %>
          <p><%= show.date %> / <%= show.location %> / <%= show.link %></p>
        <% end %>
      </div>
    </div>
  </div>


