<div class="grey-bg ps2 mb4 w">
  <div class="d-flex">
    <h4 class="caslon tac no-m pb2 letter-spacing-double flex-fill"><%= post.title %></h4>
    <i class="fas fa-thumbtack"></i>
  </div>
  <div class="post-content">
    <%= post.content.html_safe %>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <p class="no-pm"><%= post.time %></p>
    <% if user_signed_in? && current_user.admin %>
      <div class="d-flex align-items-center">
        <button class="edit admin-btn" data-id="<%= post.id %>" data-type="<%= post.class.to_s.downcase %>">✎</button>
        <%= link_to "✖", post_path(post), method: :delete, class: "admin-btn", remote: true %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? && current_user.admin %>
    <div id="<%= dom_id(post, :inline) %>" style="display: none">
      <%= render "posts/inline_form", object: post %>
    </div>
  <% end %>
</div>
