<div class="<%= show.border?(index, @shows.length) %>">
  <div class="min-height8 d-flex justify-content-between align-items-center">
    <p class="no-pm pr1 max-width-75"><%= show.display_date.upcase %> / <%= show.location %></p>
    <div class="d-flex align-items-center">
      <% unless show.link.empty? %>
        <%= link_to 'TICKETS', show.link, target: :_blank, class: "bm-btn no-d"%>
      <% end %>
      <% if user_signed_in? && current_user.admin %>
        <button class="edit admin-btn" data-id="<%= show.id %>" data-type="<%= show.class.to_s.downcase %>">✎</button>
        <%= link_to "✖", show_path(show), method: :delete, class: "admin-btn", remote: true %>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? && current_user.admin %>
    <div id="<%= dom_id(show, :inline) %>" style="display: none">
      <%= render "shows/inline_form", object: show  %>
    </div>
  <% end %>
</div>
